@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Boxing';
        src: url("/public/font/boxing.ttf");
        font-weight: bold;
    }

    @font-face {
        font-family: 'BoxingStriped';
        src: url("/public/font/boxing-striped.ttf");
        font-weight: bold;
    }
}
